{% block title %}
Legal notices
{% endblock %}
{% extends "base.html.twig" %}

{% block body %}
	{% include "_image_header.html.twig" %}
<div class="legal-container">
	<div class="legalNotice-container">

		<h2 class="legalNotice-container-title">
			Legal notices
		</h2>
		<p>Pour la traduction française, cliquez
			<a href="{{ path('legal_notice_fr') }}">ici</a>
			s'il vous plait.</p>

		<p>In force on 06/05/2020</p>

		<p>In accordance with the provisions of Articles 6-III and 19 of Law n ° 2004-575 of June 21, 2004 for Confidence in the digital economy, known as LCEN, it is brought to the attention of the users of the site https://moodswingvintage.com these legal notices.</p>

		<p>
			Connection and navigation on the
			<em>Moodswing Vintage</em>
			site by the User implies full and unreserved acceptance of these legal notices.
		</p>

		<p>These are available on the site under the heading "Legal notices".</p>

		<!-- First article -->
		<h3>ARTICLE 1: The publisher</h3>

		<p>Editing and publication management of the https://moodswingvintage.com site is provided by Nicolas Halberstadt.</p>


		<!-- Second article -->
		<h3>ARTICLE 2 : The host</h3>

		<p>TODO: A REMPLIR</p>


	</div>
	<!-- /Legal Mention -->
<hr>
	<!-- CGU -->
	<div class="TCS-container">
		<h2 class="TCS-container-title">
			Terms of Service
		</h2>

		<p>
			In force on 06/05/2020
		</p>

		<p>
			The present general conditions of use (known as “T & Cs”) have as their object the legal framework of the methods of provision of the site and the services by Moodswing Vintage and to define the conditions of access and use of the services by "the user".
		</p>

		<p>
			These T & Cs are available on the site under the "T & Cs" section.
		</p>

		<p>
			Any registration or use of the site implies acceptance without any reserve or restriction of these T & Cs by the user. When registering on the site via the Registration Form, each user expressly accepts these T & Cs by checking the box before the following text: "I acknowledge having read and understood the T & Cs and I accept them".
		</p>

		<p>
			In the event of non-acceptance of the T & Cs stipulated in this contract, the User must renounce access to the services offered by the site.
		</p>

		<p>
			https://moodswingvintage.com reserves the right to unilaterally modify the content of these T & Cs at any time.
		</p>


		<!-- First article -->
		<h3>
			ARTICLE 1: Legal notices
		</h3>

		<p>
			Editing and publication management of the https://moodswingvintage.com site is ensured by Nicolas Halberstadt, at the email address
			<em>moodswingvintage@gmail.com</em>
			.
		</p>

		<p>
			TODO: à compléter
            <!-- L'hébergeur du site https://la-rubrique-ecolo.com est la société OVH, dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France, avec le numéro de téléphone : 1007.-->
		</p>


		<!-- Second article -->
		<h3>
			ARTICLE 2 : Access to the site
		</h3>

		<p>
			The website offers the following services: Vintage clothing
		</p>

		<p>
			The site is accessible free of charge to any User with access to the Internet. All costs incurred by the User to access the service (computer hardware, software, Internet connection, etc.) are his responsibility.
		</p>

		<p>
			The non-member User does not have access to the reserved services. For this, he must register by filling out the form. By agreeing to subscribe to the reserved services, the User Member undertakes to provide sincere and exact information concerning his marital status and his contact details, in particular his email address.
		</p>
		<p>
			To access the services, the User must then identify himself using his email and password.
		</p>
		<p>
			Any User who is regularly registered may also request unsubscription by going to the dedicated page in their personal space. This will be effective within a reasonable time.
		</p>
		<p>
			Any event due to a case of major forces resulting in a malfunction of the site or server and subject to any interruption or modification in the event of maintenance, does not engage the responsibility of https://moodswingvintage.com. In these cases, the User agrees not to hold the publisher accountable for any interruption or suspension of service, even without notice.
		</p>
		<p>
			The User has the option of contacting the site by email at the publisher's email address provided in ARTICLE 1 or via the contact form by providing a valid email address, otherwise they will not be able to receive a response.
		</p>


		<!-- Third article -->
		<h3>
			ARTICLE 3: Data collection
		</h3>

		<p>
			The site provides the User with the collection and processing of personal information with respect for privacy in accordance with Law No. 78-17 of January 6, 1978 relating to data, files and freedoms.
		</p>


		<p>
			The site has integrated reCAPTCHA version 2, the use of this functionality is subject to Google’s Privacy Policy and Terms of Service. This feature is only used to combat spam and abuse.
		</p>

		<p>
			Under the Data Protection Act, dated January 6, 1978, the User has the right to access, rectify, delete and oppose his personal data. The User exercises this right: via a contact form, via his personal space.
		</p>


		<!-- Fourth article -->
		<h3>
			ARTICLE 4: Intellectual property
		</h3>

		<p>
			Logos, signs and all the contents of the site (texts, images, sound, etc.) are protected by the Intellectual Property Code and more particularly by copyright.
		</p>

		<p>
			Moodswing Vintage is designed by Margaux Carré and Nicolas Halberstadt. Any representation and / or reproduction and / or partial or total exploitation of any kind whatsoever is completely prohibited.
		</p>

		<p>
			The User must request the prior authorization of the site for any reproduction, publication, copy of the various content. He undertakes to use the contents of the site in a strictly private setting, any use for commercial and advertising purposes is strictly prohibited.
		</p>

		<p>
			Any total or partial representation of this site by any process whatsoever, without the express authorization of the operator of the website would constitute an infringement punishable by article L 335-2 and following of the Intellectual Property Code.
		</p>

		<p>
			It is recalled in accordance with article L122-5 of the Intellectual Property Code that the User who reproduces, copies or publishes the protected content must cite the author and his source.
		</p>


		<!-- Fifth article -->
		<h3>
			ARTICLE 5: Liability
		</h3>

		<p>
			The sources of the information disseminated on the site https://moodswingvintage.com are deemed reliable but the site does not guarantee that it is free from defects, errors or omissions.
		</p>

		<p>
			The information communicated is presented as an indication and general without contractual value. Despite regular updates, the https://moodswingvintage.com site cannot be held responsible for the modification of the administrative and legal provisions occurring after publication. Likewise, the site cannot be held responsible for the use and interpretation of the information contained on this site.
		</p>

		<p>
			The User makes sure to keep his password secret. Any disclosure of the password, whatever its form, is prohibited. He assumes the risks linked to the use of his username and password. The site declines all responsibility
		</p>

		<p>
			The https://moodswingvintage.com site cannot be held responsible for any viruses which could infect the computer or any computer equipment of the Internet user, following use, access or downloads from this site.
		</p>

		<p>
			The site cannot be held liable in the event of major forces or the unforeseeable and insurmountable fact of a third party.
		</p>


		<!-- Sixth article -->
		<h3>
			ARTICLE 6: Hypertext links
		</h3>

		<p>
			The User is informed that during his visits to the site, a cookie can be automatically installed on his browser software.
		</p>

		<!-- Seventh article -->
		<h3>
			ARTICLE 7 : Cookies
		</h3>

		<p>
			The User is informed that during his visits to the site, a cookie can be automatically installed on his browser software.
		</p>

		<p>
			Cookies are small files temporarily stored on the hard drive of the User's computer by your browser and which are necessary for the use of the site https://moodswingvintage.com. Cookies do not contain personal information and cannot be used to identify someone. A cookie contains a unique identifier, generated randomly and therefore anonymous. Some cookies expire at the end of the User's visit, others remain.
		</p>
		<p>
			The information contained in cookies is used to improve the site https://moodswingvintage.com.
		</p>
		<p>
			By browsing the site, the User accepts them.
		</p>
		<p>
			However, the User must give his consent to the use of certain cookies.
		</p>
		<p>
			In the absence of acceptance, the User is informed that certain features or pages may be refused
		</p>
		<p>
			The User can deactivate these cookies through the parameters appearing in their browser software.
		</p>


		<!-- Ninth article -->
		<h3>
			ARTICLE 8: Applicable law and competent jurisdiction
		</h3>

		<p>
			French law applies to this contract. In the absence of an amicable resolution of a dispute between the parties, the French courts will have sole jurisdiction to hear it.
		</p>

		<p>
			For any question relating to the application of these T & Cs, you can reach the editor using the contact details listed in ARTICLE 1.
		</p>

	</div>
    </div>
{% endblock %}
