body {
    font-family: 'Source Sans Pro', sans-serif;
}


/* HOME HEADER */

.header {
    max-width: 100%;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.home-homebtn {
    margin: auto;
}

.home-homebtn a {
    color: #FFC0C9;
    letter-spacing: 0.25em;
    font-size: 0.7em;
    margin-left: 3.2em;
}

.home-homebtn a:hover {
    color: #FFC0C9;
}

.home-socialsbtn {
    justify-content: flex-end;
    font-weight: 300;
}

.home-socialsbtn a {
    color: #FFC0C9;
    text-decoration: none;
}

.home-socialbtn-email {
    font-size: 1.25em;
    padding-left: 0.25em;
}

.fab {
    font-weight: 300!important;
}

.home-socialbtn-email:hover,
.fa-instagram:hover {
    font-weight: 500;
}

.home-picture {
    text-align: center;
    background-color: #FFC0C9;
    margin: 0px -15px;
}

.home-picture img {
    max-width: 100%;
}

.home-picture-title {
    font-size: 1em;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-top: 5em;
    font-weight: 200;
}

.home-picture-subtitle {
    font-size: 0.4em;
    font-weight: 200;
    margin: auto;
    padding-bottom: 5em;
}


/* CATEGORY FILTER TOOL */

.dropdown {
    padding: 16px;
}


/* Dropdown Button */

.dropbtn {
    color: black;
    padding: 6px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: solid transparent;
    background: none;
    font-size: 0.8em;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus,
.highlight-cat {
    border: solid #FFB6C1;
    border-radius: 5px;
    outline: none;
}

.dropbtn:focus {
    outline: none;
}

.dropbtn::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.highlight-cat,
.dropbtn,
.dropdown-category {
    font-weight: 300;
}

.highlight-cat {
    font-size: 0.8em;
}

.highlight-cat::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    z-index: 1;
    overflow: scroll;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    font-size: 0.8em;
    padding: 6px;
    padding-left: 10px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    text-decoration: underline;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.showElement {
    display: block;
    margin-bottom: 1em;
}


/* Products cards */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.cards-container {
    padding: 1em;
}

.mb-4 {
    margin-bottom: 0.8em!important;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    max-height: 17em;
    max-width: 15em;
    transition: .3s;
}

.product-card:hover img {
    filter: blur(3px);
}

.product-card :not(img) {
    position: absolute;
    top: 30%;
    z-index: 1;
    color: #fff;
    opacity: 0;
}

.product-card a {
    top: 38%;
}

.product-card:hover :not(img) {
    opacity: 1;
    transition: .5s;
}

.etsy-button {
    border-radius: 8px;
}

.etsy-button:hover {
    background-color: rgba(238, 182, 191, 0.637);
    padding: 0.4em 0.6em;
    text-decoration: none;
    margin-top: 0.3em;
}

.product-detail-link {
    font-weight: 300;
    text-align: center;
    padding-top: 0.8em;
    font-size: 1em;
    text-decoration: none;
}

.product-details-link:hover {
    text-decoration: none;
}

.card-title {
    font-weight: 300;
    text-align: center;
    padding-top: 0.8em;
    font-size: 1em;
    color: black;
    transition: 0.3s
}

.card-title:hover {
    color: rgb(126, 90, 95);
}


/* Product details */

.details-product {
    padding: 3em;
}

.details-image-carousel {
    width: 50%;
}


/* Slideshow container */

.slideshow-container {
    max-height: 535px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.slide-element {
    display: none;
    text-align: center;
}


/* Next & previous buttons */

.prev {
    padding-left: 16px;
}

.next {
    padding-right: 16px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: rgb(244, 230, 214, 96) !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: rgb(226, 239, 207, 96)!important;
}

.active,
.dot:hover {
    background-color: #717171!important;
}

.dot {
    height: 7px;
    width: 7px;
    padding: 0.2em;
    margin-right: 3px;
    margin-left: 3px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.product-details-image {
    max-width: 100%;
    max-height: 500px;
}

.details-text {
    padding-left: 2em;
    width: 50%;
}

.details-title {
    font-size: 1.5em;
}

.details-price {
    margin-top: 1em;
    margin-bottom: -.5em;
    text-align: end;
}

.details-etsy-buy {
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    background-color: rgba(247, 188, 198, 0.637);
    width: 100%;
    padding: 0.6em;
    margin-top: 1em;
    margin-bottom: 1.3em;
    color: black;
}

.details-etsy-buy:hover {
    background-color: rgba(248, 204, 211, 0.637);
    text-decoration: none;
    color: black;
}

.fa-shopping-cart {
    color: rgb(0, 0, 0);
}

.details-description {
    white-space: pre-line;
    font-weight: 300;
}

.footer-nav {
    margin: auto;
    width: 35%;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-nav-link {
    text-decoration: none;
    color: black;
}

.footer-nav-link:hover {
    text-decoration: none;
    color: black;
}


/* MEDIA */

@media (max-width: 575.98px) {
    /* Homepage */
    .product-card {
        padding: 0;
    }
    .card-title {
        font-size: 0.9em;
    }
    /* Details */
    .details-product {
        margin: auto;
        display: block;
        padding: 1.5em;
    }
    .details-image-carousel,
    .details-text {
        margin: 0 auto;
        width: 100%!important;
        padding: 0;
    }
    /*.slideshow-container {
        min-height: 455px;
    }
    .product-details-image {
        min-height: 100%;
        max-height: 455px;
    }*/
    .details-etsy-buy {
        margin-bottom: 2em;
    }
    /* Footer */
    .footer-nav-link {
        padding: 1.5em;
    }
    /*TODO: text card too big, one button for signin and signup green like arrow */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .details-product {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .details-product {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .details-product {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .details-product {
        display: flex;
        justify-content: space-between;
    }
}