body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
    position: relative;
    max-height: 100%;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}


/* HOME HEADER */

.header {
    max-width: 100%;
}

.home-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.home-homebtn {
    margin: auto;
}

.home-homebtn a {
    color: #FFC0C9;
    letter-spacing: 0.25em;
    font-size: 0.7em;
    margin-left: 8.5em;
}

.home-homebtn a:hover {
    color: rgba(248, 204, 211);
    text-decoration: none;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    color: #FFC0C9;
}

.home-socialsbtn-profile {
    border: none;
    padding: 0;
    background-color: white;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    right: 0;
}

.profile-dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 0.7em;
}

.profile-dropdown-content a:hover {
    background-color: rgb(247, 243, 243);
}

.profile-dropdown:hover .profile-dropdown-content,
.show-dropdown-content {
    display: block;
}

.profile-dropdown-content-link {
    padding: 0.5em;
}

.home-socialsbtn {
    justify-content: flex-end;
    font-weight: 300;
}

.home-socials-btn-instagram {
    width: 19px;
    display: inline-block;
}

.fa-instagram,
a.home-socialbtn-email,
.home-socialsbtn-profile>i {
    color: #FFC0C9;
    text-decoration: none;
    padding: 0.15em;
}

.home-socialsbtn i:hover {
    font-weight: 800;
    color: #FFC0C9;
}

.profile-dropdown-content>a:hover,
.profile-dropdown-content>a:hover i {
    color: rgb(180, 206, 179);
    font-weight: 800;
    border-radius: 5px;
}

.profile-dropdown-content>a,
.profile-dropdown-content>a>i {
    padding: 0.5em;
}

.home-socialbtn-email {
    font-size: 1.25em;
    font-weight: 300;
    width: 16px;
    display: inline-block;
    padding: 0!important;
    font-style: normal;
}

.home-socialsbtn-admin {
    border-left: 1.5px solid lightgrey;
    padding-left: 0.5em !important;
    margin-left: 0.2em;
}

.home-picture {
    text-align: center;
    background-color: #FFEBEE;
    margin: 0px -15px;
    height: 12em;
}

.home-picture img {
    max-width: 100%;
}

.home-picture-title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-top: 5em;
    font-weight: 200;
    margin: auto;
}

.home-picture-subtitle {
    font-size: 0.6em;
    font-weight: 200;
    padding-bottom: 5em;
    margin: auto;
}


/* CATEGORY FILTER TOOL */


/* Dropdown Button */

.dropbtn {
    color: black;
    padding: 6px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: solid transparent;
    background: none;
    font-size: 0.8em;
    width: 8em;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus,
.highlight-cat {
    border: solid #FFB6C1;
    border-radius: 5px;
    outline: none;
}

.dropbtn:focus {
    outline: none;
}

.dropbtn::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.highlight-cat,
.dropbtn,
.dropdown-category {
    font-weight: 300;
}

.highlight-cat {
    font-size: 0.8em;
}

.highlight-cat::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.082);
    border-radius: 5px;
    z-index: 2;
    overflow: scroll;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    font-size: 0.8em;
    padding: 6px;
    padding-left: 10px;
    text-decoration: none;
    display: block;
    width: 8em;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    text-decoration: underline;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.showElement {
    display: block;
    margin-bottom: 1em;
}


/* Products cards */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.cards-container {
    padding: 1em;
}

.mb-4 {
    margin-bottom: 1em!important;
    border-radius: 5px;
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 246px;
    overflow: hidden;
}

.product-img {
    transition: .3s;
}

.product-card:hover img {
    filter: blur(3px);
    z-index: 2;
}

.product-card :not(img) {
    position: absolute;
    top: 30%;
    z-index: 2;
    color: #fff;
    opacity: 0;
}

.product-card a {
    top: 38%;
}

.product-card:hover :not(img) {
    opacity: 1;
    transition: .5s;
    z-index: 2;
}

.mobile-product-price {
    display: none;
}

.etsy-button {
    border-radius: 8px;
}

.etsy-button:hover {
    background-color: rgba(238, 182, 191, 0.637);
    padding: 0.4em 0.6em;
    text-decoration: none;
    margin-top: 0.3em;
    z-index: 2;
}

.product-card-text {
    padding-bottom: 1.5em;
}

.product-details-link {
    font-weight: 300;
    text-align: center;
    padding-top: 0.8em;
    font-size: 1em;
    text-decoration: none;
    z-index: 1;
    bottom: 0;
}

.product-details-link:hover {
    text-decoration: none;
}

.card-title {
    font-weight: 300;
    text-align: center;
    padding-top: 0.8em;
    font-size: 1em;
    color: black;
    transition: 0.3s
}

.card-title:hover {
    color: rgb(126, 90, 95);
    z-index: 2;
}


/* Favorited products */

.product-list-favored-product>i {
    color: rgba(238, 182, 191);
    padding-left: 0.5em;
    top: -0.2em;
}

.product-list-not-favored-product>i {
    color: white;
    padding-left: 0.5em;
    top: -0.2em;
}


/* Product details */

.details-product {
    padding: 3em;
}

.details-image-carousel {
    width: 50%;
}


/* Slideshow container */

.slideshow-container {
    max-height: 535px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.slide-element {
    display: none;
    text-align: center;
}


/* Next & previous buttons */

.prev {
    padding-left: 16px;
}

.next {
    padding-right: 16px;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: rgb(244, 230, 214, 96) !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: rgb(226, 239, 207, 96)!important;
}

.active,
.dot:hover {
    background-color: #717171!important;
}

.dot {
    height: 7px;
    width: 7px;
    padding: 0.2em;
    margin-right: 3px;
    margin-left: 3px;
    background-color: lightgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.product-details-image {
    max-width: 100%;
    max-height: 500px;
}

.details-text {
    padding-left: 2em;
    width: 50%;
}

.details-title {
    font-size: 1.5em;
}

.product-details-favored,
.product-details-not-favored {
    color: rgba(247, 188, 198);
}

.product-details-favored:hover,
.product-details-not-favored:hover {
    color: rgba(248, 204, 211, 0.637);
}

.details-price {
    margin-top: 1em;
    margin-bottom: -.5em;
    text-align: end;
}

.details-etsy-buy {
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    background-color: rgba(247, 188, 198, 0.637);
    width: 100%;
    padding: 0.6em;
    margin-top: 1em;
    margin-bottom: 1.3em;
    color: black;
}

.details-etsy-buy:hover {
    background-color: rgba(248, 204, 211, 0.637);
    text-decoration: none;
    color: black;
}

.fa-shopping-cart {
    color: rgb(0, 0, 0);
}

.details-description {
    white-space: pre-line;
    font-weight: 300;
}


/* forms */

form {
    background-color: #FFEBEE;
    width: 60%;
    margin: 5em auto;
    padding: 2em;
    box-shadow: 0px 0px 35px -15px #FFC0C9;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 0;
}

.form-field {
    margin-bottom: 0.5em;
}

.form-button {
    background-color: rgba(247, 188, 198);
    margin-top: 1em;
}

.form-button:hover {
    background-color: rgba(248, 204, 211, 0.637);
}


/* SIGNUP */

.form-title {
    font-size: 2em;
    font-weight: 300;
}


/* LOGIN */

.remember-me-text {
    font-weight: 300;
}

.remember-small-text {
    font-size: 0.8em;
    font-weight: 200;
}

.login-form-emailLabel,
.login-form-passwordLabel {
    font-weight: 300;
    color: rgb(212, 224, 194);
}

.login-form-signup-link {
    color: rgba(247, 188, 198)
}

.login-form-signup-link:hover {
    color: rgba(248, 204, 211);
    text-decoration: none;
}

.login-form-signinBtn {
    background-color: rgb(226, 239, 207);
    border-color: white;
    padding: 0.5em;
    font-weight: 300;
    font-size: 1em;
}

.login-form-signinBtn:hover {
    background-color: rgba(248, 204, 211);
    border-color: white;
}

.login-form-forgot-password {
    color: rgba(247, 188, 198);
    text-decoration: underline;
    font-size: 0.6em;
    font-weight: 300;
}


/* USER DETAILS */

.user-card {
    padding-top: 10em;
    margin: auto;
    text-align: center;
    width: 50%;
}

.user-details-name {
    font-weight: 300;
}

.table {
    border: 2px solid black;
}

tbody>tr:first-child>td {
    border: none;
}

.user-details-table {
    padding: 1em;
}

.user-details-table tr {
    text-align: left;
    border: none;
}

.user-details-button-container {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.user-details-button-link:hover {
    text-decoration: none;
}

.user-details-button {
    background-color: rgba(247, 188, 198);
    color: white;
}

.user-details-button:hover {
    background-color: rgba(248, 204, 211);
    color: white;
}


/* FOOTER */

.footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    position: relative;
    text-align: center;
}

.footer-nav {
    margin: auto;
    bottom: 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
}

.footer-nav-link {
    text-decoration: none;
    color: rgb(180, 206, 179);
}

.footer-nav-link:hover {
    text-decoration: none;
    color: rgb(195, 235, 205);
}


/* 404 page */

.four-o-four-container {
    text-align: center;
    padding: 10em;
    margin: auto;
}

.four-o-four-title {
    padding-bottom: 2em;
}

.four-o-four-text {
    margin-bottom: 11em;
}

.four-o-four-home-link {
    color: rgb(209, 181, 185);
}

.four-o-four-home-link:hover {
    color: #FFEBEE;
}


/* Legal notices */

.legal-container {
    padding: 2em;
    font-weight: 300;
}

.legal-container h2 {
    font-size: 2.5em;
    font-weight: 300;
    padding: 1em;
}

.legal-container h3 {
    font-size: 1.5;
    font-weight: 300;
    padding-top: 1em;
}

.legal-container h2,
.legal-container h3 {
    text-align: center;
}

.TCS-container {
    padding-top: 2em;
}


/* MEDIA */

@media (max-width: 1200px) {
    /* Homepage */
    .home-header {
        padding: 2em;
    }
    .home-homebtn a {
        margin-left: 4em;
        font-size: 20px;
    }
    .home-socialsbtn {
        margin-right: -35px;
    }
    .home-socialsbtn i,
    .home-socialbtn-email {
        font-size: 20px;
    }
    .home-socials-btn-instagram {
        width: unset;
    }
    .home-socialbtn-email {
        width: unset;
        font-weight: 700;
        top: 1px;
    }
    .profile-dropdown-content {
        width: 120px;
        font-size: 20px;
    }
    .home-picture-title {
        font-size: 20px;
        padding-top: 3.5em;
    }
    .home-picture-subtitle {
        font-size: 15px;
    }
    .dropdown {
        font-size: 20px;
    }
    .cards-container {
        padding: 0;
        padding-top: 1em;
    }
    .product-card {
        padding: 1.5em;
    }
    .mobile-product-price {
        display: inline;
        font-size: 2em;
        padding-top: 0.3em;
    }
    .etsy-button {
        display: none;
    }
    .product-price {
        display: none;
    }
    .product-card:hover img {
        filter: none;
    }
    .card-title {
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 1px;
    }
    /* Details */
    .details-product {
        margin: auto;
        display: block;
        padding: 1.5em;
    }
    .details-image-carousel,
    .details-text {
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    /*.slideshow-container {
        min-height: 455px;
    }
    .product-details-image {
        min-height: 100%;
        max-height: 455px;
    }*/
    .details-etsy-buy {
        margin-bottom: 2em;
    }
    /* Forms */
    form {
        width: 80%;
    }
    /* Login form */
    .form-title {
        font-weight: 200;
        font-size: 1.5em;
    }
    .login-form-emailLabel,
    .login-form-passwordLabel,
    .signup-text,
    .form-group,
    .form-button {
        color: black;
        font-weight: 200;
        font-size: 0.8em;
    }
    /* User details */
    .user-card {
        padding-top: 2em;
        width: 100%;
    }
    .user-details-name {
        font-size: 1em;
    }
    .user-details-table {
        font-size: 0.8em;
    }
    .table {
        margin-bottom: 0;
        border: 1px solid rgb(80, 79, 79);
        border-collapse: unset;
    }
    .user-details-button {
        font-size: 0.8em;
        margin: 0.2em;
    }
    /* Footer */
    .footer {
        width: 100%;
        font-size: 0.8em;
        margin: auto;
        margin-bottom: 4em;
    }
    .footer-nav-link {
        padding: 1.5em;
    }
    /*TODO: text card too big, one button for signin and signup green like arrow */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .user-card {
        width: 70%;
        margin-top: 8em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .product-card-text {
        padding-left: 1.3em;
    }
    .user-card {
        width: 70%;
        margin-top: 8em;
        margin-bottom: 15em;
    }
    .user-details-table {
        font-size: 1em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .mb-4 {
        padding: 5px 5px;
    }
    .product-card-text {
        padding-left: 2.5em;
    }
    .details-product {
        display: flex;
        justify-content: space-between;
        padding-top: 3em;
        margin-bottom: 3em;
    }
    .details-text {
        width: 40%;
    }
    .details-image-carousel {
        width: 60%;
    }
    .user-card {
        width: 65%;
        margin-top: 6em;
        margin-bottom: 9em;
    }
}

@media (min-width: 1025px) and (max-width: 1112px) {
    .product-card-text {
        padding-left: 3.4em;
    }
}

@media (min-width: 1200px) {
    .home-homebtn a {
        margin-left: 5.5em;
    }
    .details-product {
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10em;
        padding-top: 6em;
    }
    .details-text,
    .details-image-carousel {
        width: 50%;
    }
    .stretched-link::after {
        display: none;
    }
}