{% if category.products is empty %}
	<h2 class="category-empty-error">There are no products in this category, try a different one</h2>
{% else %}
	<div class="row row-cols-1 row-cols-md-3 cards-container">

		{% for product in category.products %}
			<div class="col mb-4">

				<div class="product-card">
					<img src="../asset/images/golden-chain-purse.jpg" class="card-img-top product-img" alt="...">
					<p class="product-price">{{ product.price }}
						€</p>
					<a class="etsy-button" href="{{ product.etsyLink }}" target="_blank">Buy on Etsy &copy;</a>
				</div>
				<a class="product-details-link" href="{{ path('product_details', {product_id: product.id }) }}">
					<h5 class="card-title">{{ product.name }}</h5>
				</a>
			</div>
		{% endfor %}

	</div>
{% endif %}
