{% extends 'base.html.twig' %}
{% block meta %}
<meta name="description" content="Shop vintage clothing, accessories and home decor on moodswing vintage from the 40’s, 50’s, 60’s, 70’s, 80’s, 90’s to early the 2000’s! Find us on Instagram @moodswingvintage">{% endblock %}
{% block title %}Shop vintage clothing, accessories and home decor on moodswing vintage 
{% endblock %}

{% block body %}

	{{ include('_image_header.html.twig') }}

	<div class="home-filter">

		{% include 'homepage/_filter_tool.html.twig' %}

		{% if category is defined %}
			{% set products = category.products %}
		{% endif %}

		{% include "_products_list.html.twig" %}

	</div>
{% endblock %}
{% block javascripts %}
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("showElement");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('showElement')) {
                openDropdown.classList.remove('showElement');
            }
        }
    }
}


</script>
{% endblock %}
