{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block body %}

	{{ include('_image_header.html.twig') }}

	<div class="home-filter">

		{% include 'homepage/_filter_tool.html.twig' %}

		{% if category is defined %}
			{% set products = category.products %}
		{% endif %}

		{% include "_products_list.html.twig" %}

	</div>
{% endblock %}
