<div style="padding: 0.5em;">
	<div style='text-align: center;
			    background-color: #FFC0C9;
			    margin: 0px -15px'>

		<h1 style=" font-size: 1em; 
                    margin: auto; 
                    text-transform: uppercase; 
                    letter-spacing: 0.5em; 
                    font-weight: 200; 
                    padding-top: 2em;"
        >moodswing</h1>

		<p style="font-size: 0.6em;
                  font-weight: 200;
                  padding-bottom: 5em;
                  margin: auto;"
        >vintage</p>
	</div>
	<div style="padding: 0.5em;">
		<h1>Your contact request</h1>

		<p style="font-weight: 400;">Hi
			{{ user }}, we want to inform you that we received your contact request and will be back in touch with you within 48 hours.
			<hr>
			Have a nice day !
		</p>

		<p style='color:#FFC0C9'>
			Moodswing Vintage</p>
	</div>
</div>
