<div style="padding: 0.5em;">
	<div style='text-align: center; background-color: #FFC0C9; margin: 0px -15px'>
		<h1 style="font-size: 1em; margin: auto; text-transform: uppercase; letter-spacing: 0.5em; font-weight: 200; padding: 2em;">
			moodswing</h1>
		<p style="font-size: 0.4em; font-weight: 200; margin: auto;">
			vintage</p>
	</div>
	<div style="padding: 0.5em;">
		<h1>Hi
			{{ user.firstname }}, let's reset your password.</h1>
		<a href="{{ url }}">
			<button type='button' style='background-color: #FFC0C9;'>Reset your password</buton>
		</a>

		<p style="font-weight: 400;">If the above button does not work for you, copy and paste the following into your browser's address bar:
			{{ url }}
		</p>
		<p style="font-weight: 200; color: grey;">If you didn't ask to reset your password, you can disregard this email.</p>
	</div>
</div>
