<hr>
	<div class="footer-nav">
		<a class="footer-nav-link" href="TODO: page about me">About</a>
		<a class="footer-nav-link" href="{{ path('contact') }}">Contact</a>
		<a class="footer-nav-link" href="{{ path('legal_notice_en') }}">Legal</a>
	</div>