<div class="header">
	<div class="home-header">
		<nav class="home-homebtn">
			<a href="{{ path('homepage') }}">home</a>
		</nav>
		<nav class="home-socialsbtn">
			<a href="https://www.instagram.com/moodswingvintage/"><i class="fab fa-instagram"></i></a>
			<a href="TODO diriger sur formulaire de contact" class="home-socialbtn-email">&#x40; </a>
		</nav>
	</div>
	
</div>
