<div class="header">
	<div class="home-header">
		<nav class="home-homebtn">
			<a href="{{ path('homepage') }}">home</a>
		</nav>
		<nav class="home-socialsbtn">
			<a href="https://www.instagram.com/moodswingvintage/">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="TODO: diriger sur formulaire de contact" class="home-socialbtn-email">&#x40;</a>

			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
				<a href="{{ path('app_logout')}}">
					<i class="fas fa-sign-out-alt"></i>
				</a>
				<a href="{{ path('user_profile')}}">
					<i class="far fa-user"></i>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}">
					<i class="fas fa-sign-in-alt"></i>
				</a>
			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}
				<a href="/admin">
					<i class="fas fa-tools"></i>
				</a>
			{% endif %}

		</nav>
	</div>
</div>
