{% extends "base.html.twig" %}
{% block meta %}
	<meta name="description" content="Everything you need to know about Moodswing Vintage">
{% endblock %}
{% block title %}
	About Moodswing Vintage
{% endblock %}
{% block body %}
	{% include "_image_header.html.twig" %}
	<div class="about-container">
		<h2>Everything you need to know about Moodswing Vintage</h2>
		<p>Vintage clothing, accessories and decor!
			<br>More on Instagram with the hashtag #moodswingvintage 💖
			<br>Don’t hesitate to contact me for informations or measurements on any product!
			<br>Please consider that due to their second hand origin, items can presents some imperfection.
			<br>All bubble wraps used in packages are reused bubble wraps, not bought specifically for your order 😊 do not hesitate to use them a third time!
			<br>Once the parcel is shipped, I am no longer responsible for lost.
			<br>
			<br><strong>Attention please : moodswingvintage.com is not a selling platform, all sales are on Etsy. Moodswing vintage could not be taken responsible for any trouble happening on Etsy website.</strong>
			<br>
			<br>Thank you and enjoy your visit, Margaux from Moodswing Vintage. 
			</p>
	</div>
{% endblock %}
