<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="moodswingvintage, moodswing vintage, mood swing vintage, mood swing, etsy, jumper, blazer, top vintage, vintage clothing, earrings, handbags, purse, jeans vintage, etsy shop, vintage dresses, gold necklace, cat eye sunglasses, clip on earrings, leather bag, vintage sunglasses, etsy vintage, vintage sweatshirts, vintage shoes, brown bag, round sunglasses, etsy tote bags, vintage jackets, vintage shirts, vintage bags, bag shops, clip on, blazer vintage, bracelet vintage, vintage jeans, vintage glasses, dress pants, vintage backpack, clip on sunglasses, black bags, retro sunglasses, retro dress, vintage tees, vintage sweaters, vintage windbreaker, linen pants, 70s dress, trench vintage, vintage swimsuits, leather handbags, vintage skirts, vintage earrings, etsy t shirts, vintage coat, jeans top, 80s glasses, shoulder bags, blazer jacket, vintage 90s, black handbags, designer sunglasses, black swimsuit, oversized sunglasses, black bag, vintage versace sunglasses, cool sunglasses, 70s glasses, vintage pants, vintage trench coat, blazer boss, flower shirt, vintage hats, leather purse, vintage heels, turtle neck jumper, 70s sunglasses, vintage sunglasses mens, purse bag, retro jumpers, wrap around sunglasses, vintage handbags, vintage jumpers, etsy earrings, vintage necklaces, classic glasses, vintage accessories, vintage ray ban aviators, 60s sunglasses, vintage blazer, vintage puffer jacket, vintage swimwear, coated jeans, jewelry buyers, 70s vintage, etsy clothing, pant top, blazer chevron, black purse, vintage glasses frames, polo jumper, vintage eyewear, etsy lunch bag, vintage shades, accessories bags, buy bags, vintage bracelets, vintage dior sunglasses, printed jacket, 60s glasses, vintage buttons, flower bag, vintage 50s, vintage leather bag, etsy purses, etsy handbags, etsy bags, etsy wallet, vintage purses, brown purse, etsy backpack, etsy leather bags, vintage eyeglass frames, brown handbags, etsy leather handbags, etsy leather wallet, purses and bags, vintage round sunglasses, beige jumper, etsy messenger bag, etsy leather tote, etsy leather backpack, etsy leather, shoulder purse, etsy mens wallet, retro eyeglasses, vintage ray ban sunglasses, vintage clip on earrings, buy earrings, jeans and top, vintage retro glasses, buy blazer, etsy beach bag, buy coat, buy handbags, etsy totes, etsy weekender bag, vintage aviator sunglasses, where to buy clip on earrings, etsy leather messenger bag, etsy clutch, etsy handmade leather bags, vintage style sunglasses, vintage vuarnet sunglasses, handbags & purses, vintage designer sunglasses, etsy gift bags, purses and handbags, oversized vintage sunglasses, buy purse, 50s sunglasses, canvas tote bag etsy, vintage carrera sunglasses, etsy purses handmade, etsy bags and totes, vintage leather purse, etsy clutch bags, vintage persol sunglasses, vintage attire, 70s style sunglasses, 50s style glasses, vintage porsche sunglasses, 80s glasses frames, antique sunglasses, etsy vintage shirts, dogtooth jacket, retro style sunglasses, basket handbag, etsy womens wallets, etsy welcome bags, etsy leather notebook, cheap vintage sunglasses, best handbags on etsy, etsy leather crossbody bag, retro vintage sunglasses, 70s sunglasses mens, etsy leather wallet womens, best etsy leather handbags, vintage wayfarer sunglasses, etsy mens leather wallet, handmade leather wallets etsy, vintage 70s dress, etsy handmade bags, etsy vintage purses, vintage sunglasses online, etsy canvas bag, etsy evening bags, bags bags, 1950s sunglasses, vintage bucket, cheap retro sunglasses, leather bag backpack, 50s style sunglasses, etsy handbags vintage, etsy heart necklace, vintage circle sunglasses, buy jumper, handbag clips, etsy leather clutch, etsy leather portfolio, 80s style sunglasses, etsy vintage bags, etsy backpack purse, pastel jumper, bags and accessories, etsy brown leather bag, etsy clip on earrings, buy clip on earrings, etsy tank tops, etsy leather tote bag, chevron jacket, vintage frames sunglasses, 70s glasses frames, etsy vintage jackets, vintage leather handbags, vintage skirts and dresses, vintage sunglasses for sale, basket purse, white vintage sunglasses, vintage serengeti sunglasses, vintage heart necklace, 1970s sunglasses, glass bag, etsy black leather backpack, etsy glasses, etsy canvas tote, etsy leather goods, etsy vegan bags, seventies sunglasses, retro sunglasses womens, vintage brand sunglasses, vintage 70s sunglasses, etsy linen, etsy vintage tees, clip on jewelry, 60s style sunglasses, etsy vintage clothing, backpack and handbag, moodswing, vintage"> {% block meta%}{% endblock %}
		<title>
			{% block title %}{% endblock %}
			- Moodswing Vintage
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link rel="stylesheet" href="/asset/css/style.css">
			<link rel="stylesheet" href="/asset/css/all.css">
			<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600&display=swap" rel="stylesheet">
		{% endblock %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97834330-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-97834330-2');
		</script>

	</head>
	<body>
		<div class="container-fluid">
			{{ include('_header.html.twig') }}

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			<div class="content-wrap"> {% block body %}{% endblock %}
				</div>
				<div class="footer">
					{{ include('_footer.html.twig') }}
				</div>
			</div>

			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			<script src="../asset/js/app.js"></script>
			{% block javascripts %}{% endblock %}

		</body>
	</html>
