<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Are you sure ? (This action is irreversible)</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn user-details-button" data-dismiss="modal">No, I want to keep my account</button>
				<a href="{{ path('user_delete') }}">
					<button type="button" class="btn btn-secondary">Yes, delete my account please</button>
				</a>
			</div>
		</div>
	</div>
</div>
