{% extends 'base.html.twig' %}

{% block title %}Signup
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	{{ include('user/_signup_form.html.twig') }}
{% endblock %}
