{% extends 'base.html.twig' %}

{% block title %}Signup
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	{% include('_image_header.html.twig') %}
	{{ include('user/_signup_form.html.twig') }}
{% endblock %}

{% block javascripts %}
	<script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
{% endblock %}
